[Desktop Entry]
Type=Application
Exec=/usr/bin/emacs --daemon
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=doom emacs daemon
Name=doom emacs daemon
Comment[en_US]=
Comment=
