[Desktop Entry]
Type=Application
Exec=nextcloud
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=nextcloud
Name=nextcloud
Comment[en_US]=
Comment=
