[Desktop Entry]
Type=Application
Exec=gnome-pomodoro
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=false
Name[en_US]=pomodoro
Name=pomodoro
Comment[en_US]=
Comment=
